/*
Theme Name: WP Test Theme
Author: kisliymaxim
Description: WP test theme
Requires at least: 5.3
Tested up to: 5.7
Requires PHP: 5.6
Text Domain: wp_test_theme
*/
/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
@import url("https://fonts.googleapis.com/css2?family=Poppins&display=swap");
* {
	box-sizing: border-box;
}

html {
	line-height: 1.15;
	-webkit-text-size-adjust: 100%;
}

body {
	margin: 0;
}

main {
	display: block;
}

h1 {
	font-size: 2em;
	margin: 0.67em 0;
}

hr {
	box-sizing: content-box;
	height: 0;
	overflow: visible;
}

pre {
	font-family: monospace;
	font-size: 1em;
}

a {
	background-color: transparent;
	text-decoration-thickness: 1px;
}

abbr[title] {
	border-bottom: none;
	text-decoration: underline;
	text-decoration-style: dotted;
}

b,
strong {
	font-weight: bolder;
}

code,
kbd,
samp {
	font-family: monospace;
	font-size: 1em;
}

small {
	font-size: 80%;
}

sub,
sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

sub {
	bottom: -0.25em;
}

sup {
	top: -0.5em;
}

img {
	border-style: none;
}

button,
input,
optgroup,
select,
textarea {
	font-family: inherit;
	font-size: 100%;
	line-height: 1.15;
	margin: 0;
}

button,
input {
	overflow: visible;
}

button,
select {
	text-transform: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
	-webkit-appearance: button;
}

button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
	border-style: none;
	padding: 0;
}

button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
	outline: 1px dotted ButtonText;
}

fieldset {
	padding: 0.35em 0.75em 0.625em;
}

legend {
	box-sizing: border-box;
	color: inherit;
	display: table;
	max-width: 100%;
	padding: 0;
	/* 3 */
	white-space: normal;
}

progress {
	vertical-align: baseline;
}

textarea {
	overflow: auto;
}

[type="checkbox"],
[type="radio"] {
	box-sizing: border-box;
	padding: 0;
}

[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
	height: auto;
}

[type="search"] {
	-webkit-appearance: textfield;
	outline-offset: -2px;
}

[type="search"]::-webkit-search-decoration {
	-webkit-appearance: none;
}

::-webkit-file-upload-button {
	-webkit-appearance: button;
	font: inherit;
}

details {
	display: block;
}

summary {
	display: list-item;
}

template {
	display: none;
}

[hidden] {
	display: none;
}

:root {
	--global--color-white: #fdfdfe;
	--global--color-gray: #242f51;
	--global--color-blue: #2500f9;
	--global--color-black: #09142e;
	--global--color-ebony-clay: #273043;
	--global--color-primary: var(--global--color-blue);
}

body {
	font-family: 'Poppins', sans-serif;
	color: var(--global--color-gray);
	font-size: 16px;
}

.wrapper {
	width: 100%;
	max-width: 1200px;
	margin: 0 auto;
}

button.button-primary, .button.button-primary {
	background: var(--global--color-primary) !important;
	color: var(--global--color-white) !important;
	text-decoration: none;
	border-radius: 40px;
	padding: 20px 41px;
	font-weight: 700 !important;
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 200px;
}

header.site-header {
	padding: 40px 15px;
	background: var(--global--color-white);
	display: flex;
	align-items: center;
	justify-content: space-between;
}

header.site-header .main-navigation {
	display: flex;
	align-items: center;
}

header.site-header .main-navigation > div {
	padding-right: 40px;
}

header.site-header .main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

header.site-header .main-navigation ul li {
	padding: 10px 17px;
}

header.site-header .main-navigation ul li a {
	text-decoration: none;
	line-height: 44px;
	font-weight: 400;
	color: var(--global--color-gray);
}

@media screen and (max-width: 860px) {
	header.site-header {
		flex-direction: column;
	}
	header.site-header .main-navigation {
		flex-direction: column;
	}
}

@media screen and (max-width: 860px) and (max-width: 530px) {
	header.site-header .main-navigation ul {
		flex-direction: column;
	}
	header.site-header .main-navigation ul li {
		text-align: center;
	}
}

@media screen and (max-width: 860px) {
	header.site-header .main-navigation > div {
		padding-right: 0;
	}
}

.site-content {
	display: flex;
	padding: 15px;
}

.site-content main {
	width: 70%;
}

.site-content main.home-template {
	width: 100%;
}

.site-content main .film-list .film-img {
	padding-right: 15px;
}

.site-content main .film-list .film-item {
	display: flex;
	padding: 0 15px 15px 0;
}

.site-content main .film-list .film-item .film-info {
	display: flex;
	flex-direction: column;
}

.site-content main .film-list .film-item .film-info .title {
	font-size: 36px;
	font-weight: bold;
	padding-bottom: 15px;
}

.site-content main .film-list .film-item .film-info .content a {
	color: var(--global--color-gray);
}

.site-content main .film-list .film-item .film-info .meta {
	margin-top: 15px;
}

.site-content main .film-list .film-item .film-info .meta .meta-item span {
	font-weight: bold;
}

.site-content main .film-list .load-more {
	margin: 0 auto;
}

.site-content aside {
	width: 30%;
}

.site-content aside .searchform > div {
	display: flex;
	align-items: baseline;
	justify-content: flex-start;
	flex-direction: column;
}

.site-content aside .searchform > div > * {
	max-width: 100%;
}

.site-content aside ul {
	margin: 0;
	padding: 0;
	list-style: none;
}

.site-content aside ul li {
	margin-left: 30px;
}

.site-content aside ul li a {
	text-decoration: none;
	color: var(--global--color-gray);
}

@media screen and (max-width: 860px) {
	.site-content {
		flex-direction: column;
	}
	.site-content main {
		width: 100%;
	}
	.site-content main .film-list .film-img {
		margin: 0 auto;
	}
	.site-content main .film-list .film-item {
		flex-direction: column;
	}
	.site-content aside {
		width: 100%;
		text-align: center;
	}
	.site-content aside .searchform > div {
		align-items: center;
	}
	.site-content aside ul li {
		margin: 0;
	}
}

footer.site-footer {
	background-color: var(--global--color-black);
	padding: 70px 15px;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	flex-direction: column;
	min-height: 530px;
}

footer.site-footer .site-logo {
	margin: 43px 0 10px;
	max-width: 120px;
}

footer.site-footer .main-navigation {
	display: flex;
	align-items: center;
	margin: 24px 0;
}

footer.site-footer .main-navigation ul {
	margin: 0;
	padding: 0;
	list-style: none;
	display: flex;
}

footer.site-footer .main-navigation ul li {
	padding: 10px 17px;
}

footer.site-footer .main-navigation ul li a {
	text-decoration: none;
	line-height: 23px;
	font-weight: 400;
	color: var(--global--color-white);
}

footer.site-footer .social-links {
	margin: 10px 0;
	display: flex;
}

footer.site-footer .social-links a {
	font-size: 30px;
	padding: 0 11px;
	line-height: 44px;
	color: var(--global--color-ebony-clay);
	font-weight: 400;
	text-decoration: none;
}

footer.site-footer .social-links a:hover, footer.site-footer .social-links a:focus {
	color: var(--global--color-white);
}

footer.site-footer .copyright {
	font-size: 14px;
	line-height: 44px;
	color: var(--global--color-white);
	margin: 58px 0 10px;
}

@media screen and (max-width: 530px) {
	footer.site-footer .main-navigation ul {
		flex-direction: column;
	}
	footer.site-footer .main-navigation ul li {
		text-align: center;
	}
	footer.site-footer .copyright {
		text-align: center;
	}
}

/*# sourceMappingURL=style.css.map */