@import "variables";

.site-content {
  display: flex;
  padding: 15px;

  main {
    width: 70%;

    &.home-template {
      width: 100%;
    }

    .film-list {
      .film-img {
        padding-right: 15px;
      }

      .film-item {
        display: flex;
        padding: 0 15px 15px 0;

        .film-info {
          display: flex;
          flex-direction: column;

          .title {
            font-size: 36px;
            font-weight: bold;
            padding-bottom: 15px;
          }

          .content a {
            color: var(--global--color-gray);
          }

          .meta {
            margin-top: 15px;

            .meta-item span {
              font-weight: bold;
            }
          }
        }
      }

      .load-more {
        margin: 0 auto;
      }
    }
  }

  aside {
    width: 30%;

    .searchform > div {
      display: flex;
      align-items: baseline;
      justify-content: flex-start;
      flex-direction: column;

      & > * {
        max-width: 100%;
      }
    }

    ul {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        margin-left: 30px;

        a {
          text-decoration: none;
          color: var(--global--color-gray);
        }
      }
    }
  }

  @media screen and (max-width: $tablet-width) {
    flex-direction: column;

    main {
      width: 100%;

      .film-list {
        .film-img {
          margin: 0 auto;
        }

        .film-item {
          flex-direction: column;
        }
      }
    }

    aside {
      width: 100%;
      text-align: center;

      .searchform > div {
        align-items: center;
      }

      ul li {
        margin: 0;
      }
    }
  }
}