@import "variables";

footer {
  &.site-footer {
    background-color: var(--global--color-black);
    padding: 70px 15px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
    min-height: 530px;

    .site-logo {
      margin: 43px 0 10px;
      max-width: 120px;
    }

    .main-navigation {
      display: flex;
      align-items: center;
      margin: 24px 0;

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li {
          padding: 10px 17px;

          a {
            text-decoration: none;
            line-height: 23px;
            font-weight: 400;
            color: var(--global--color-white);
          }
        }
      }
    }

    .social-links {
      margin: 10px 0;
      display: flex;

      a {
        font-size: 30px;
        padding: 0 11px;
        line-height: 44px;
        color: var(--global--color-ebony-clay);
        font-weight: 400;
        text-decoration: none;

        &:hover, &:focus {
          color: var(--global--color-white);
        }
      }
    }

    .copyright {
      font-size: 14px;
      line-height: 44px;
      color: var(--global--color-white);
      margin: 58px 0 10px;
    }

    @media screen and (max-width: $mobile-width) {
      .main-navigation {
        ul {
          flex-direction: column;

          li {
            text-align: center;
          }
        }
      }
      .copyright {
        text-align: center;
      }
    }
  }
}