@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

:root {
  --global--color-white: #fdfdfe;
  --global--color-gray: #242f51;
  --global--color-blue: #2500f9;
  --global--color-black: #09142e;
  --global--color-ebony-clay: #273043;

  --global--color-primary: var(--global--color-blue);
}

body {
  font-family: 'Poppins', sans-serif;
  color: var(--global--color-gray);
  font-size: 16px;
}

.wrapper {
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

button, .button {
  &.button-primary {
    background: var(--global--color-primary)!important;
    color: var(--global--color-white)!important;
    text-decoration: none;
    border-radius: 40px;
    padding: 20px 41px;
    font-weight: 700!important;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 200px;
  }
}