@import "variables";

header {
  &.site-header {
    padding: 40px 15px;
    background: var(--global--color-white);
    display: flex;
    align-items: center;
    justify-content: space-between;

    .main-navigation {
      display: flex;
      align-items: center;

      & > div {
        padding-right: 40px;
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;

        li {
          padding: 10px 17px;

          a {
            text-decoration: none;
            line-height: 44px;
            font-weight: 400;
            color: var(--global--color-gray);
          }
        }
      }
    }

    @media screen and (max-width: $tablet-width) {
      flex-direction: column;
      .main-navigation {
        flex-direction: column;

        @media screen and (max-width: $mobile-width) {
          ul {
            flex-direction: column;
            li {
              text-align: center;
            }
          }
        }

        & > div {
          padding-right: 0;
        }
      }
    }
  }
}